<!DOCTYPE html>
<html>
<head>
<title>Landing page</title>
</head>
<body>

<h1>
    Hello, <%= firstName %>!
    <!-- For printing out variables use this: <%= %> -->
</h1>

<!-- For conditionals and loops use this: <%  %> -->
<% if (isAdmin) { %>
    <div>Only admins can see this!</div>
<% } %>

</body>
</html>